body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000; 
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    font-size: 36px;
    margin-top: 0px;
    font-weight: 600;
}

p {
    font-size: 18px;
    margin-top: -30px;
    font-weight: 400;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}
